html {
    font-family: sans-serif;
}

main {
    margin-bottom: 50px;
}

body {
    background-color: #EEEEEE;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
}

h1, h2, h3 {
    line-height: 1.2
}

.profilepicture {
    border-radius: 50%;
    filter: grayscale(100%);
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}
   
.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
}

.page-header > p, .page-footer > p {
    margin: 0;
    text-align: center;
}







/* Navigation. */
nav ul {
display: flex;
justify-content: space-between;
list-style-type: none;
padding: 5px;
}

nav ul li {
margin-left: 10px;
margin-right: 10px;
}

.flex-container {
display: flex;
align-items: center;
flex-direction: column;
}

.post-list > li > time {
margin-right: 25px;
}

.post-list, .quote-list, .contact {
list-style-type: none;
padding: 0px;
}

.quote-list > li {
margin-top: 15px;
margin-bottom: 15px;
}



.page-nav {
display: flex;
justify-content: center;
}

.home {
display: flex;
flex-direction: column;
justify-content: center;
}


@media only screen and (min-width: 992px) {
body {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.home {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.page-header, .page-footer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
}

@media only screen and (max-width: 991px)
{
body {
    -webkit-text-size-adjust: 100%;
}

main {
    margin: 0px;
    width: 100%;
}

}

